$background-color: #161616;
$element-background-color: #3b3b3b;
$login-background-color: #6c6c6c;
$text-color: #FFFFFF;

@media (max-width: 600px) {
    .optional {
        display: none !important;
    }
    .optional_replacement {
        flex-grow: 1;
        width: 100%;
    }

}